header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  margin: 0;

  font-style: sans-serif;
  background-color: rgb(21, 36, 36);
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-title {
  color: white;
  margin: 0;
  text-align: center;
}

.header-logout-button {
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #1976d2;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
}

.header-logout-button:hover {
  background-color: #ffffff;
  color: #2196f3;
}

.header-logo {
  height: 100px;
  width: 80px;
  flex-shrink: 0;
}
@media screen and (max-width: 50rem) {
  header {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }

  .header-title-container {
    order: 3;
    width: 100%;
  }

  .header-logo {
    order: 1;
  }

  .header-logout-button {
    order: 2;
    margin-left: auto;
  }
}
